<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: page_head('Бренд', 'none')"></head>

<body>
    <div th:replace="navigation :: menu"></div>

    <div class="main-content">
        <main>

        <a th:href="@{/brands/new}" class="fas fa-plus fa-2x icon-violet mr-2"></a>


    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/brands/}" class="form-inline m-3">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="keyword" th:value="${keyword}" placeholder="Поиск"  required/>
                &nbsp;</div>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-violet">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn border-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <div class="full-details">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>
                    <a class="text-violet-ondark" th:href="@{'/brands?sortDir=' + ${reverseSortDir}}">Бренд</a>
                    <span th:class="${reverseSortDir == 'desc'} ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
                    </th>
                    <th>Категории</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="brand : ${listBrands}">
                    <td>[[${brand.id}]]</td>
                    <td>[[${brand.name}]]</td>
                    <td>
                        <th:block th:each="cat : ${brand.categories}">
                            <span class="badge badge-secondary" th:text="${cat.name}"></span>
                        </th:block>
                    </td>
                    <td>
                        <a class="btn btn-violet" th:href="@{'/brands/edit/' + ${brand.id}}">Редактировать</a>
                        &nbsp;
                        <a class="btn btn-coral link-delete"
                           th:href="@{'/brands/delete/' + ${brand.id}}" th:entityId="${brand.id}">Удалить
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>
        </main>
    </div>



<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/brands}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function (e){
            e.preventDefault();
            showDeleteConfirmModal($(this), 'бренд');
        });
    });
</script>

</body>
</html>